.header-top .link-bar li {
    list-style-type: none;
}

.horizontal-menu ul li {
    display: inline-block;
    padding: 0px 5px;
}

.nav-bar-item:hover {
    cursor: pointer;
}

.nav-bar-item:hover .nav-bar-item {
    color: red;
}

.sub-menu { 
        display: none;
        position: absolute;
        z-index: 1;
        width: 150px;
        min-height: 300px;
        padding: 30px 15px;
        margin: 0px 0 0 -5px;
        background: white;  
        border-radius: 10px; 
        line-height: 25px; 
        
}

.sub-menu li {
    /* float: left; */
}

.horizontal-menu ul li:hover .sub-menu {
    display: block;
    width: 800px;
    transition: width 2s linear;
}

.sub-menu:hover .sub-menu {
    display: block;
}

