/* 
    BACKGROUND COLORS
*/

.lightblue-bg {
    background-color: #B4D0E7; 
}

.lightgreen-bg {
    background-color: #D1E9CD;
    padding: 15px;
}

.green-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A2D39B;
    height: 100%;
}

.bordeaux-bg {
    background-color: #61082B;
}

.blue-bg {
    background-color: #0093CE;
}

.orange-bg {
    background-color: #FF1C1C;
}

.beige-bg {
    background-color: #F5F5F5;
}

.red-bg {
    background-color: #D5001F;
}

.darkblue-bg {
    background-color: #0D2481;
}

.yellow-bg {
    background-color: #FFD830;
}

.black-bg {
    background-color: #000000;
}

/* FONT COLORS */

.grey-color {
    color: lightgray;
}

.bordeaux-color {
    color: #600431;
}

.white-color {
    color: #FFFFFF;
}

.blue-icon {
    color: #2682FF;
    font-weight: bolder;
}

/* 
    BUTTONS LAYOUT
*/

.blue-button {
    background-color: #0061FF;
    width: 70px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.button-layout {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.enterprise-layout .button-layout {
    width: 250px;
}

/* 
    LIST LAYOUT
*/

.footer-column-list ul {
    list-style-type: none;
}

/* 
    LINKS LAYOUT
*/

.link-bar a:not(.blue-button),
.second-header-link a,
.text-container a,
.partners-footer-container a,
.footer-container a {
    text-decoration: none;
}

.link-bar a:not(.blue-button),
.second-header-link a,
.text-container a,
.partners-footer-container a {
    color: black;
}

.footer-column-list a {
    color: white;
}

.column-box a {
    width: 90%;
    margin: 0 auto;
}

/* 
    GENERAL STYLE
*/

.black-border {
    border: 1px solid black;
}