/* 
    CONTAINERS
*/

.container-width-75 {
    max-width: 75%;
    margin: 0 auto;
    padding: 75px 60px;
}

.container-width-80 {
    max-width: 80%;
    margin: 0 auto;
    padding: 75px 60px;
}

.column-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col-width-33 {
    width: calc(100% / 3 - 20px);
    border: 1px solid lightgray;
    min-height: 1000px;
}

.column-box {
    min-height: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
}

.column-container .horizontal-rule {
    width: 50px;
    margin: 30px;
    border-color: lightgrey;
}

.info-container {
    display: flex;
    justify-content: flex-start;
}

.icon-box {
    display: block;
    height: 20px;
    padding-right: 5px;
}


/* 
    HEADER
*/

.header-top {
    min-height: 80px;
    display: flex;
    align-items: center;
    margin: 0px 25px;
}

.link-bar {
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 30px;
    font-weight: bolder;
}

.header-bottom {
    min-height: 400px;
}

.header-main-text {
    width: 35%;
    max-height: 350px;
    
}

.header-bottom-img {
    width: 65%;
    max-height: 300px;
}

.header-bottom-main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header-bottom-links {
    padding-top: 50px;
    width: 80%;
}

.first-header-link #blue-button {
    padding: 10px;
}

.second-header-link {
    padding-top: 50px;
}

.arrow {
    font-size: 50px;
    padding-top: 75px;
}

.header-bottom-img img {
    height: 500px;
}

/* 
    MAIN
*/

/* MAIN HEADER */

.main-container:first-child {
    padding-top: 100px;
}

.billing-buttons {
    padding-top: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* MAIN LAYOUT A COLONNE */

.general-button {
    display: flex;
    justify-content: center;
}

.general-button .blue-button {
    padding: 15px 50px;
}

.column-container .single-column-header,
.enterprise-layout .single-column-header {
    border-bottom: 1px solid lightgray;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-name {
    display: block;
    padding: 10px;
}

.layout-type {
    padding-left: 15px;
    margin-left: 15px;
}

/* MAIN ENTERPRISE LAYOUT */

.enterprise-layout {
    border: 1px solid black;
    margin-top: 50px;
    min-height: 300px;
    margin-bottom: 200px;
}

.enterprise-main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.enterprise-main-header h3 {
    padding-top: 20px;
}

.enterprise-footer {
    width: 60%;
    padding: 50px 30px;
}

/* PARTNER DROPBOX */

.partnership-layout {
    height: 500px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 65%;
}

.img-container img {
    max-width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    min-height: 80%;
}

.text-container a {
    display: flex;
}

/* DROPBOX BUSINESS */

.business-main-container {
    min-height: 400px;
    margin-top: 300px;
}

.business-header {
    min-height: 60px;   
}

.business-main {
    min-height: 400px;
}

.business-main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-main-row:first-child {
    margin-top: 25px;
}

.business-item-container {
    padding: 20px;
    width: calc(100% / 3)
}

.business-img-container {
    min-height: 200px;
}

.business-img-title {
    min-height: 50px;
}

.business-img-text {
    min-height: 150px;
    padding-top: 15px;
    max-width: 300px;
}

/* PARTNERS */

.partners-main-square {
    width: calc(100vw / 3)
}

.partners-main-container {
    min-height: 800px;
}

.partners-header {
    min-height: 300px;
}

.partners-header h2 {
    min-height: 100px;
    max-width: 400px;
}

.partners-header a {
    min-height: 100px;
}

.partners-main {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

.partners-main-square {
    height: calc(100vw / 3)
}

.square-row {
    display: flex;
    justify-content: space-between;
}

.partners-minor-square {
    height: calc(100vw / 6);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-minor-square img {
    max-width: 50%;
    filter: invert(99%) sepia(0%) saturate(172%) hue-rotate(227deg) brightness(115%) contrast(100%);
}

.partner-main-square-logo {
    height: 200px;
    padding: 50px;
}

.partner-main-square-logo img {
    max-width: 50%;
}

.partners-main-square .horizontal-rule {
    width: 100px;
    margin-top: 30px;
}

.partner-main-square-logo p {
    padding-top: 100px;
}

.signature-firm {
    display: block;
    padding-top: 100px;
}

.partners-footer-container {
    width: 100vw;
    min-height: 200px;
}

.partners-footer-title {
    width: 25%;
}

.partners-footer-container .container-width-75 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners-footer-container a {
    background-color: white;
    width: 250px;
}

/* FOOTER */

.footer-container h2 {
    padding: 40px 0;
}

.footer-container h4 {
    padding: 30px 0;
}

.question-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    margin-right: 20px;
}

.footer-ending-container .container-width-80 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column-list {
    line-height: 35px;
}